body{
    background-color: rgba(252, 248, 248, 0.274);
}
h1{
    color: rgb(19, 72, 163);
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
form input{
    border: 2px solid rgb(169, 169, 205);
   
    height: 1.4rem;
    width: 11rem;
}
form input:focus{
    box-shadow: 0 0 3px 3px rgba(167, 152, 240, 0.352);
    outline: none;
}
form button{
    height: 1.8rem;
    padding: 10px 10px 10px 10px;
    align-items: center;
    display: flex;
    background-color: navy;
    color: white;
    text-transform: uppercase;
    
}
img{
    display: block;
    box-shadow: 0 0 2px 1px black;
}
img:hover{
    transform: scale(1.04);
}
.imagecontainer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,0.4fr));
    gap: 20px;
    margin: 10px auto;
    place-content: center;
}